header {
  height: 100%;
  nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    a {
      margin: 0 80px;
      font-family: 'Black Han Sans', sans-serif;
      text-decoration: none;
      cursor: pointer;
      outline: none;
      background: none;
      border: none;
      font-size: 2em;
      color: #ffffff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .background-svg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
  }
}

.name-first {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: relative;
  transform: scale(1.5);
  left: 10%;
  top: 20%;
  z-index: 1;
  animation: svg-name-animation 3s ease-in forwards;
  animation-delay: 1s;
}

.name-last {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: relative;
  transform: scale(1.5);
  right: 10%;
  top: 60%;
  z-index: 1;
  animation: svg-name-animation 3s ease-in forwards;
  animation-delay: 1s;
}

.background-svg >  path {
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      animation: svg-background-animation 100ms linear 1 forwards;
      opacity: 0;
      animation-delay: 0.008s * $i;
    }
  }
}

@keyframes svg-background-animation {
  to {
    opacity: 1;
  }
}

@keyframes svg-name-animation {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    fill: rgba($color: #ffffff, $alpha: 0);
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba($color: #ffffff, $alpha: 1.0);
  }
}
