header {
  height: 100%;
  position: relative;
  nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    div {
      width: 500px;
      display: flex;
      justify-content: space-around;
      a {
        font-family: 'Black Han Sans', sans-serif;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        background: none;
        border: none;
        font-size: 2em;
        color: #ffffff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .background-svg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
  }
}

.name-first {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: relative;
  width: 50%;
  height: auto;
  top: 20%;
  z-index: 1;
  animation: svg-name-animation 3s ease-in forwards;
  animation-delay: 1s;
}

.name-last {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: relative;
  width: 80%;
  height: auto;
  top: 30%;
  z-index: 1;
  animation: svg-name-animation 3s ease-in forwards;
  animation-delay: 1s;
}

.first-arrow {
  position: absolute;
  bottom: -10%;
  left: 0;
  opacity: 0;
  right: 0;
  margin: auto;
  transform: rotate(90deg) scale(0.25);
  z-index: 2;
  animation: first-arrow-animation 3s ease-in-out infinite, fade-in 2s 3.5s linear forwards;
}

.second-arrow {
  position: absolute;
  bottom: -7%;
  left: 0;
  opacity: 0;
  right: 0;
  margin: auto;
  transform: rotate(90deg) scale(0.15);
  z-index: 2;
  animation: second-arrow-animation 3s 0.5s ease-in-out infinite, fade-in 2s 3.5s linear forwards;
}

.background-svg >  path {
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      animation: svg-background-animation 100ms linear 1 forwards;
      opacity: 0;
      animation-delay: 0.008s * $i;
    }
  }
}

@keyframes svg-background-animation {
  to {
    opacity: 1;
  }
}

@keyframes svg-name-animation {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    fill: rgba($color: #ffffff, $alpha: 0);
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba($color: #ffffff, $alpha: 1.0);
  }
}

@keyframes first-arrow-animation {
  0% {
    transform: translateY(0) rotate(90deg) scale(0.25);
  }
  50% {
    transform: translateY(5%) rotate(90deg) scale(0.25);
  }
  100% {
    transform: translateY(0) rotate(90deg) scale(0.25);
  }
}

@keyframes second-arrow-animation {
  0% {
    transform: translateY(0) rotate(90deg) scale(0.15);
  }
  50% {
    transform: translateY(5%) rotate(90deg) scale(0.15);
  }
  100% {
    transform: translateY(0) rotate(90deg) scale(0.15);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  header {
    nav {
      padding: 20px 0px;
      div {
        width: 100%;
        justify-content: space-around;
      }
    }
  }
}
