.footer {
  background-color: #282E34;
  padding: 20px;
  color: #737373;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    display: flex;
    flex-wrap: wrap;
    p {
      margin: 0 10px 0 10px;
    }
    a {
      margin: 20px;
      width: 50px;
      height: 50px;
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}